# Visual Studio Code
.vscode

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# output files
out.txt
records.json
filtered_records.json
formatted_records.json